[include]
	path = ~/.gitconfig.local
[user]
	name = paddymorgan84
	email = patrickmorgan1984@gmail.com
[core]
	autocrlf = input
[credential]
	helper = cache --timeout=360000
[color]
	ui = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
