[user]
	name = paddymorgan84
	email = patrickmorgan1984@gmail.com
[includeIf "gitdir:~/git/work/"]
	path = ~/git/work/.gitconfig.work
[core]
	autocrlf = input
	editor = code --wait
[credential]
	helper = cache --timeout=360000
[color]
	ui = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[pull]
	rebase = false
